#category {
  .hero {
		width: 100vw;
		height: 100vh;
		font-weight: 500;
		position: relative;
    overflow: hidden;

    &__cover {
      position: absolute;
      left: -5%;
      top: 5%;
      width: 60vw;
      height: 60vw;
      background-color: $yellow;
      border-radius: 50%;

      img {
        max-width: 100%;
      }
    } // end of cover

		&__titles {
      position: absolute;
      position: absolute;
			right: 8%;
      width: 50%;
			bottom: 20%;
			display: inline-block;
      text-align: right;
      h2 {
  			font-weight: 500;
  			font-size: 2.625rem;
        font-weight: 300;

  		}
      h3 {
        font-size: 6rem;
        line-height: 1.2;
      }
    } // end of titles

    &__decorator {
      position: absolute;
      bottom: -1px;
      left: -2px;
      width: 100%;
      height: auto;

      polygon {
        fill: $blue;
      }
    }
	} // end of hero

  .articles {
    background-color: $blue;

    .article {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;

      &.animate {
        .article__content {
          &__image {
            transform: scale3d(1,1,1);
            opacity: 1;
          }
          &__titles {
            h4, h4 small {
              transform: translateX(0%) !important;
              opacity: 1;
            }
          }
        }
      }

      &__content {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 5vh 10%;

        &__image {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          width: 25vw;
          height: 25vw;
          background-color: $white;
          margin: 0 5%;
          box-shadow: 0 0 50px 0 black;
          opacity: 0;
          transform: scale3d(0,0,0);
          transition: all 0.6s ease-in-out;

          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            padding: 5%;
            transform: scale(1);
            transition: all 0.3s ease-in-out;
            transform-origin: center center;

            &:hover {
              transform: scale(1.1);
            }
          }
        } // end of image

        &__titles {
          display: flex;
          text-align: left;
          h4 {
            font-weight: 300;
            font-size: 2.625rem;
            color: $white;
            line-height: 1.3;
            opacity: 0;
            transform: translateX(-50%);
            transition: all 0.3s ease-out 0.4s;
            small {
              display: block;
              font-family: 'bagnard', sans-serif;
              font-size: 4rem;
              opacity: 0;
              transform: translateX(-50%);
              transition: all 0.3s ease-out 0.7s;
            }
          }
        } // end of titles
      } // end of content

      &:nth-child(even) {
        .article__content {
          &__image {
            order: 2;
          }
          &__titles {
            order: 1;
            text-align: right;

            h4, h4 small {
              transform: translateX(50%);
            }
          }
        }
      }
      &:nth-child(3n+1) .article__content__image {
        width: 25vw;
        height: 25vw;
      }
      &:nth-child(3n+2) .article__content__image {
        width: 35vw;
        height: 35vw;
      }
      &:nth-child(3n+3) .article__content__image {
        width: 30vw;
        height: 30vw;
      }
    } // end of article

    &__decorator {
      transform: translateY(100%) rotateY(180deg) rotateZ(180deg);
    }
  } // end of articles

  .next {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    p {
      font-weight: 200;
      font-size: 2.625rem;
    }

    h5 {
      font-size: 6rem;
      line-height: 1.5;
      text-align: center;
    }

    a {
      @include button($blue, $white);
    }
  }
}
