@keyframes move {
	0% { transform: translate3d(-3%, -42%, 0) scale(1); }
	30% { transform: translate3d(15%, -30%, 0) scale(1.03); }
	60% { transform: translate3d(-6%, -26%, 0) scale(0.87); }
	100% { transform: translate3d(-3%, -42%, 0) scale(1); }
}

@keyframes move2 {
	0% { transform: translate3d(5%, -58%, 0) scale(1); }
	30% { transform: translate3d(10%, -45%, 0) scale(1.03); }
	60% { transform: translate3d(-10%, -36%, 0) scale(0.85); }
	100% { transform: translate3d(5%, -58%, 0) scale(1); }
}

#home {
	.hero {
		width: 100vw;
		height: 100vh;
		font-weight: 500;
		// background-image: url('/static/img/home_Above.svg');
		// background-position: center;
		// background-size: cover;
		background-color: $blue;
		background-image: url('/static/img/background.png');
		background-size: cover;
		background-attachment: fixed;
		position: relative;

		&__title {
			position: absolute;
			left: 2.5rem;
			bottom: 20%;
			display: inline-block;
			font-weight: 500;
			font-size: 6rem;
			color: $white;

			&__sub {
				display: block;
				opacity: 0.7;
			}
		}
	} // end of hero

	.presentation {
		width: 100vw;
		height: 80vh;
		padding: 0 20%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		p {
			color: $blue;
			font-size: 1.5rem;
			line-height: 2;
			text-align: center;
			font-family: 'aktivgrotesk';
			font-weight: 500;

			&:first-child {
				margin-bottom: 1rem;
			}
		}
	} // end of presentation

	.categories {
		.category {
			width: 100vw;
			height: 90vh;
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
			position: relative;
			background-color: $yellow;

			&:nth-child(even) {
				background-color: $white;

				&.animate {
					.category__image {
						left: auto;
						right: 5% !important;

						img {
							animation: move2 4s ease-in-out infinite;
						}
					}
				}

				.category__decorator polygon {
					fill: $white;
				}

				.category__image{
					background-color: $yellow;
					top: 50%;
					right:-5%;
					left:auto;
				}

				.category__infos{
					margin-left: 0;
					margin-right:15%;
					margin-bottom: 20%;
					margin-top: 0;
					text-align: left;

					h2, h3 {
						transform: translateX(-30%);
					}

					&__button{
						&:hover{
							color:$white;
						}
					}
				}
			}

			&__image{
				border-radius: 50%;
				background-color: $white;
				width:500px;
				height:500px;
				position:absolute;
				top: 30%;
				transform:translateY(-50%);
				left:-5%;
				z-index: 1;
				opacity: 0;
				transition: all 0.3s ease-out;

				img{
					display:block;
					margin:0 auto;
					transform:translateY(-50%);
					margin-top: 50%;
					padding-bottom: 15%;
					max-width: 500px;
					animation: move 4s ease-in-out infinite;
				}
			}

			&__infos{
				position:relative;
				z-index: 10;
				width:55%;
				margin-left:15%;
				margin-top: 5%;
				text-align: right;
				color:$black;
				overflow: hidden;

				h2{
					font-size: 2rem;
					opacity: 0;
					transform: translateX(30%);
					transition: all 0.3s ease-out;
					transition-delay: 0.3s;
				}

				h3{
					font-size: 6rem;
					opacity: 0;
					transform: translateX(30%);
					transition: all 0.3s ease-out;
					transition-delay: 0.5s;
				}

				&__button{
					@include button($blue, $yellow);
					margin-top: 10px;
					background-color: transparent;
					transition: all 0.3s ease-out;
					transition-delay: 0.6s opacity;
					opacity: 0;
				}
			}

			&.animate {
				.category__image {
					opacity: 1;
					left: 5%;

					img {
						animation: move 4s ease-in-out infinite;
					}
				}

				h2, h3 {
					opacity: 1;
					transform: translateX(0%) !important;
				}

				.category__infos__button {
					opacity: 1;
				}
			}


			&__decorator {
				position: absolute;
				top: 0;
				left: 0;
				transform: translateY(-100%);
				width: 100%;
				height: auto;

				polygon {
					fill: $yellow;
				}
			}
		}
	}

	.footer{
		// background-image: url('/static/img/footer.svg');
		// background-position: center;
		// background-size: cover;
		background-color: $blue;
		width:100vw;
		min-height:100vh;
		padding: 10% 10%;
		text-align: center;
		display: flex;
		flex-flow: column nowrap;
			justify-content: space-around;
		align-items: center;

		h4 {
			color: $lightBlue;
			font-family: 'bagnard', serif;
			font-size: 2.5rem;
			line-height: 2;
		}

		p {
			color: $white;
			font-size: 1.5rem;
			text-align: center;
			font-family: 'aktivgrotesk';
			font-weight: 200;
			line-height: 1.8;
			padding: 0 5%;
			margin-bottom: 2rem;

			&.footer__rights{
				margin: 3rem 0;
				span{
					font-weight: 300;
				}
			}
		}

		&__button{
			@include button($white, $blue);
			margin-top: 5%;
		}
	}
}
