#home {
	.hero {
		width: 100vw;
		height: 100vh;
		font-weight: 500;
		background-image: url('/static/img/home_Above.svg');
		background-position: center;
		background-size: cover;
		position: relative;

		&__title {
			position: absolute;
			left: 2.5rem;
			bottom: 20%;
			display: inline-block;
			font-weight: 500;
			font-size: 6rem;
			color: $lightBlue;

			&__sub {
				display: block;
				opacity: 0.5;
			}
		}
	} // end of hero

	.presentation {
		width: 100vw;
		height: 100vh;
		padding: 0 20%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		p {
			color: $blue;
			font-size: 1.5rem;
			line-height: 2;
			text-align: center;
			font-family: 'aktivgrotesk';
			font-weight: 500;

			&:first-child {
				margin-bottom: 1rem;
			}
		}
	} // end of presentation

	.categories {
		.category {
			width: 100vw;
			height: 100vh;
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
			position: relative;
			background-color: $yellow;

			&:nth-child(even) {
				background-color: $white;

				&.animate {
					.category__image {
						left: auto;
						right: 5% !important;
					}
				}

				.category__decorator polygon {
					fill: $white;
				}

				.category__image{
					background-color: $yellow;
					right:-5%;
					left:auto;

					img{
					 	padding-top: 15%;
					 	padding-bottom: 0%;
					}
				}

				.category__infos{
					margin-left: 0;
					margin-right:15%;
					margin-bottom: 15%;
					margin-top: 0;
					text-align: left;

					h2, h3 {
						transform: translateX(-100%);
					}

					&__button{
						&:hover{
							color:$white;
						}
					}
				}
			}

			&__image{
				border-radius: 50%;
				background-color: $white;
				width:500px;
				height:500px;
				position:absolute;
				top:50%;
				transform:translateY(-50%);
				left:-5%;
				z-index: 1;
				opacity: 0;
				transition: all 0.3s ease-out;

				img{
					display:block;
					margin:0 auto;
					transform:translateY(-50%);
					margin-top: 50%;
					padding-bottom: 15%;
					max-width: 500px;
				}
			}

			&__infos{
				position:relative;
				z-index: 10;
				width:55%;
				margin-left:15%;
				margin-top: 15%;
				text-align: right;
				color:$black;
				overflow: hidden;

				h2{
					font-size: 2rem;
					opacity: 0;
					transform: translateX(100%);
					transition: all 0.4s ease-out;
					transition-delay: 0.3s;
				}

				h3{
					font-size: 6rem;
					opacity: 0;
					transform: translateX(100%);
					transition: all 0.4s ease-out;
					transition-delay: 0.6s;
				}

				&__button{
					@include button($blue, $yellow);
					margin-top: 10px;
					background-color: transparent;
					transition: all 0.3s ease-out;
					transition-delay: 0.6s;
					opacity: 0;
				}
			}

			&.animate {
				.category__image {
					opacity: 1;
					left: 5%;
				}

				h2, h3 {
					opacity: 1;
					transform: translateX(0%) !important;
				}

				.category__infos__button {
					opacity: 1;
				}
			}


			&__decorator {
				position: absolute;
				top: 0;
				left: 0;
				transform: translateY(-100%);
				width: 100%;
				height: auto;

				polygon {
					fill: $yellow;
				}
			}
		}
	}

	.footer{
		background-image: url('/static/img/footer.svg');
		background-position: center;
		background-size: cover;
		width:100vw;
		height:100vh;
		text-align: center;

		p {
			color: $white;
			font-size: 1.5rem;
			line-height: 2;
			text-align: center;
			padding:0 20%;
			font-family: 'aktivgrotesk';
			font-weight: 500;

			&:first-child {
				padding-top: 15%;
				margin-bottom: 1rem;
			}

			&.footer__rights{
				padding-top: 5%;
				span{
					font-weight: 300;
				}
			}
		}

		&__button{
			@include button($white, $blue);
			margin-top: 5%;
		}
	}
}
