@mixin button($primary, $secondary) {
  text-decoration: none;
  display:inline-block;
  border: 2px solid $primary;
  font-size: 1rem;
  padding: 20px 30px;
  color: $primary;
  background-color: $secondary;
  text-transform: uppercase;
  transition:0.3s all ease-out;

  &:hover{
    background-color: $primary;
    color:$secondary;
  }
}
