.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($blue, 0.4);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transition: opacity .3s ease;
}

.modal-container {
  position:relative;
  width:80%;
  height: auto;
  background-image: url('/static/img/popup.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  display: inline-block;
}


.modal-image{
	max-width: 400px;
	position:absolute;
	left:20px;
	top:20px;
 }

.modal-body {
  margin: 20px 0;
  width:50%;
  float:right;

  .modal-header {
  	margin-top: 10%;
  	h4 {
  	font-weight: 300;
  	font-size: 2.625rem;
  	color: $blue;
  	line-height: 1.3;

  		small {
  		  display: block;
  		  font-family: 'bagnard', sans-serif;
  		  font-size: 4rem;
  		}
  	}
  }


  p{
  	margin-top: 15px;
  	font-weight: bold;
  	font-size: 1rem;
  	line-height: 2;
  	color:$black;
  }

  a{
  	@include button($black, $white);
    margin-top: 5%;
  }


}

.modal-button {
  float: right;
  background: none;
  border:none;
  position:absolute;
  right:0px;
  top:10px;
  width:70px;
  img{
  	width:100%;
  }

}
.modal-enter, .modal-leave {
  opacity: 0;

  .modal-container {
    transform: scale(1.1);

  }
}
