<div class="modal-mask" v-show="show" transition="modal">
  <div class="modal-wrapper">
    <div class="modal-container">

      
      <slot name ="image">
          
      </slot>
      
      <div class="modal-body">
        <div class="modal-header">
          <slot name="title">
            default header
          </slot>
        </div>
        
        <slot name="body">

        </slot>

        <slot name="link">
          
        </slot>
      </div>

      <button class="modal-button"
        @click="show = false">
        <img src="/static/img/close.svg" alt="">
      </button>
    </div>
  </div>
</div>