<div id="category">
  <section class="hero">
    <div class="hero__cover">
      <img v-bind:src="data.img" alt="">
    </div>
    <div class="hero__titles">
      <h2>{{data.name}}</h2>
      <h3>{{data.title}}</h3>
    </div>
  </section>
  <section class="articles">
    <article class="article" v-for="(index, drone) in data.drones">
      <div class="article__content">
        <figure class="article__content__image" @click="launchModal(index)">
          <img v-bind:src="drone.image" alt="">
        </figure>
        <div class="article__content__titles">
          <h4>{{drone.constructor}}
            <small>
              {{drone.name}}
            </small>
          </h4>
        </div>
      </div>
    </article>
  </section>
  <modal v-bind:show.sync="showModal" v-ref:{{index}}>


      <!-- Quand les images seront dispos, dé-commente -->
      <img v-bind:src="modalData.image"  alt="" slot="image" class="modal-image">

     <h4 slot="title">{{modalData.constructor}}
        <small>
          {{modalData.name}}
        </small>
      </h4>

      <p slot="body">{{modalData.description}}</p>

      <a v-bind:href="drone.article_link" slot="link"> Accéder à l'article </a>

   </modal>
  <section class="next">
    <p>Catégorie suivant</p>
    <h5>{{data.next.title}}</h5>
    <a v-bind:href="data.next.slug">{{data.next.name}}</a>
  </section>
</div>
