<div id="home">
	<section class="hero">
		<h1 class="hero__title">
			Un monde de<br>drones
			<small class="hero__title__sub">
				La révolution<br>sans pilote
			</small>
		</h1>
	</section>

	<section class="presentation">
		<p>Annoncé comme l’un des piliers de la révolution industrielle amorcée dans les années 2000, le développement des véhicules sans pilote est un défi technique mais surtout une opportunité extraordinaire pour les constructeurs.</p>
		<p>Beaucoup se sont lancés dans la course à la prouesse technique, mais le marché est encore balbutiant, on ne fait qu’imaginer les utilisations possibles pour ces volants.</p>
	</section>

	<section class="categories">
		<article class="category" v-for="cat in categories">
			<svg version="1.1" class="category__decorator" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 132" style="enable-background:new 0 0 1440 132;" xml:space="preserve">
				<polygon points="1440,132 1440,128 0,0 0,132"/>
			</svg>
			<div class="category__image">
				<img v-bind:src="cat.img" alt="">
			</div>
			<div class="category__infos">
				<h2>{{cat.name}}</h2>
				<h3>{{cat.title}}</h3>
				<a class="category__infos__button" href="{{cat.slug}}">Découvrez les modèles</a>
			</div>
		</article>
	</section>

	<section class="footer" id="footer">
		<div>
			<h4>Un drone pour des milliers de possibilités</h4>
			<p>Cette année encore, les drones étaient les stars du CES en janvier 2016 à Las Vegas. Les constructeurs historiques cherchent à se réinventer alors que de nouveaux constructeurs,plus inventifs, émergent.<br>Aujourd’hui, on distingue à peine les limites du cadre d’utilisation des drones. Même si les drones militaires et les drones grand publics sont au centre de l’attention, de plus en plus d’entreprises s'intéressent aux drones pour faciliter leurs tâches : Observation, automatisation, transport.</p>

			<h4>Un nouvel instrument politique</h4>
			<p>Au delà de l’explosion du marché des drones, l’année 2015 a aussi été marquée par une prise de conscience de public. Aujourd’hui les drones sont de véritables instruments de guerre et chaque état rivalisent pour s’équiper le plus rapidement. Plus qu’une arme, le drone est devenu un indicateur de puissance entre les forces armés.<br>Cependant, de nombreux mécènes luttent pour la démilitarisation des drones et promeuvent une utilisation plus humanitaires : drones de sauvetage, de ravitaillement ou drones écologiques.</p>

			<h4>Vers une évolution sans pilote</h4>
			<p>La grande majorité des drones sont encore pilotés à distance par un humain. La prise en main est difficile et les manœuvres dangereuses. Depuis Janvier 2016, de plus en plus de drones deviennent intelligents; plus autonomes, ils repèrent leur environnement et savent suivre des itinéraires précis. À mesure que ces drones deviennent autonomes, ils vont être de plus en plus faciles à utiliser. Beaucoup annoncent le drone comme un futur moteur pour les activités de transport de marchandises et de surveillance; Les limites de leurs usages seront avant tout morales.</p>
			<p>Si le drone se democratise, urbanisme, circuits du ciel qui va évoluer ?</p>
		</div>

		<button href="/" class="footer__button">Un monde de drone</button>

		<p class="footer__rights">
			Réalisé par <span>Adrien, Lei, Léo et Pauline</span>
		</p>
	</section>
</div>
