<div id="home">
	<section class="hero">
		<h1 class="hero__title">
			Un monde de<br>drone
			<small class="hero__title__sub">
				La révolution<br>sans pilote
			</small>
		</h1>
	</section>

	<section class="presentation">
		<p>Annoncé comme l’un des piliers de la révolution industrielle amorcée dans les années 2000, le développement des véhicules sans pilote est un défi technique mais surtout une opportunité extraordinaire pour les constructeurs.</p>
		<p>Beaucoup se sont lancés dans la course à la prouesse technique, mais le marché est encore balbutiant, on ne fait qu’imaginer les utilisations possibles pour ces volants.</p>
	</section>

	<section class="categories">
		<article class="category" v-for="cat in categories">
			<svg version="1.1" class="category__decorator" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 132" style="enable-background:new 0 0 1440 132;" xml:space="preserve">
				<polygon points="1440,132 1440,128 0,0 0,132"/>
			</svg>
			<div class="category__image">
				<img src="/static/img/drone.png" alt="">
			</div>
			<div class="category__infos">
				<h2>{{cat.name}}</h2>
				<h3>{{cat.title}}</h3>
				<a class="category__infos__button" href="{{cat.slug}}">Découvrez les modèles</a>
			</div>
		</article>
	</section>

	<section class="footer">
		<p>Lorem Khaled Ipsum is a major key to success. Surround yourself with angels, positive energy, beautiful people, beautiful souls.</p>
		<p>Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. Lion! They will try to close the door on you, just open it. The first of the month is coming, we have to get money, we have no choice. It cost money to eat.</p>

		<button href="/home" class="footer__button">Un monde de drone</button>

		<p class="footer__rights">
			Réalisé par <span>Adrien, Lei, Léo et Pauline</span>
		</p>
	</section>
</div>
